.video-container {
    /* max-height: 80%; */
    /* max-width: 70%; */
    /* display: flex;
    align-items :center; */
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    /* min-height: 80%; */
    max-height: 100%;
    width: auto;
    /* height: auto; */
    z-index: -100;
    background-size: cover;
    max-height: parent !important;
    overflow:hidden;
    object-fit:fill;
}

.video-container:focus {
    outline: none;
}

.preview-box {
    margin-top: 20px;
    display: flex;
    position:relative;
    
    height: auto;
    margin-bottom: 40px;
    
}

.video-container-preview {
    display: block;
    /* position:fixed !important; */
    /* left: 1%; */
    margin-left: 1%;
    /* max-width: 1200px; */
    /* max-height: 00px !important; */
    /* width: 70%; */
    width: 70vw;
    /* height: 30%; */
    height: 23vw;
    /* background-size: cover; */
    /* overflow: hidden; */
    object-fit: cover;
}

.video-container-preview:focus {
    outline: none;
}

.videoTitle {
    position: absolute;
    top: 20px;
    left: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: white;
    font-size: 40px;
    z-index: 1;
    /* text-align: right; */
    /* margin-right: 200px; */
    
}

.video-play-button {
    display:flex;
    /* position:absolute; */
    color: white;
    /* top: 0; */
    /* right: 0; */
    margin-left: 20px;
    /* margin-top: 10px; */
    /* width: 29%; */
    /* height: 100%; */

}